/** @format */

body {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
}

/* .logo {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0px;
  top: 200px;
} */

/* .fb {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 500px;
  top: 500px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
} */
/* .google {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 400px;
  top: 500px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
} */

footer {
  top: 720px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  align-items: flex-end;
}

.logo-feed {
  width: 80px;
  height: 80px;
}

#imageProfile {
  width: 80px;
  height: 80px;
  margin-left: 30px;
}

#buttonLogOut {
  margin-right: 30px;
  background-color: rgba(120, 147, 86, 0.69);
  font-size: 18px;
  width: 130px;
  height: 50px;
  border-radius: 20px;
  border-color: #739356;
  color: whitesmoke;
  cursor: pointer;
}

#main-feed {
  display: flex;
  justify-content: space-between;
  background-color: rgba(242, 151, 5, 0.5);
  height: 90px;
  align-items: center;
}

.card-body-primary {
  border: solid rgba(120, 147, 86, 0.69) 5px;
  border-radius: 10px;
  border-width: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.637);
  outline: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  width: 500px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#post-form {
  width: 500px;
  height: 220px;
  left: 672px;
  top: 176px;
  background: rgba(120, 147, 86, 0.69);
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.btn-primary {
  width: 80px;
  height: 30px;
  right: 124px;
  top: calc(50% - 46px / 2 - 132px);
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-size: 15px;
}

#post-description {
  width: 420px;
  height: 130px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  font-size: 14px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ocultar la caja del id para editar  */
#id-post {
  display: none;
}